* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  background-color: #fff;
  color: #555;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow: scroll;
  overflow-x: hidden;
}
